<div class="ui basic modal annoncemodal ">
  <div class="ui icon header">
    <i class="trash alternate icon"></i>
    Effacer l'annonce?
  </div>
  <div class="content">
    <p>Si vous confirmez l'annonce sera effacée de la base de données...</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Non
    </div>
    <div class="ui green ok inverted button formLoadingMembre" id="Oui">
      <i class="checkmark icon"></i>
      Oui
    </div>
  </div>
</div>