<div class="ui  basic modal ImageModal">
    <div class="ui icon header">
      <i class="images outline icon"></i>

    </div>
    <div class="content">
      <p>
        <div><img src="" alt="" id="ModalImage" class="ui  bordered  rounded  centered  image Zoomed"
            style="padding:2%;border-color:white"></div>
      </p>

    </div>
    <div class="actions">

      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>

      </div>
    </div>
  </div>