<div class="ui basic modal modifmodal" id="noenter">
    <div class="ui icon header">
      <i class="edit icon"></i>
     Modifiez vos informations...
    </div>
    <div class="content">
      <form>
      <% include pcheckform %>
      </form>
       
        <% include imod %>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Retour
      </div>
     
    </div>
  </div>
