<div class="ui basic modal modifmodal">
    <div class="ui icon header">
      <i class="archive icon"></i>
     Modifiez vos informations...
    </div>
    <div class="content">
        <% include iform %>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Retour
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Envoyer
      </div>
    </div>
  </div>