<div class="ui form actualp" id="ajaxmdp" >
<div style="display:none">
<!-- fake password input in order to prevent browser from popping password storage option-->
<input type="password" tabindex="-1" autocomplete="off"/>
</div>
<div class="ui error message field" id="errordiv">
        <i class="ui meh big outline red icon"></i> <span style="color:rgb(231, 50, 50);font-weight:500;" id="message"></span>
     </div>
<div class="field">
<label class="whiteclasstitle" for="actualmdp"><i class="lock icon teal"></i> Pour changer tapez votre mot
    de
    passe </label>
<input  id="actualmdp" type="password" value="" maxlength="40"
 autocomplete="off"/>
</div>
<div class="field">
<button id="mdpajax" type="button" class="ui teal labeled  icon button ajaxloading"><i
        class="icon edit" hidden></i>Valider</button>
        
</div>
</div>
