  <div class="ui coupled modal reinitialise"  style="background-color:rgb(224, 215, 215)">

    <i class="close icon"></i>
    <div class="header">
      <i class="key teal icon"></i> Reinitilisation du mot de passe
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="assets/img/logoinverted.png">
      </div>
      <form class="ui form rvalidation" id="rform" action="/reinitialiser" method="POST">
        <div class="description">
          <div class="ui header"><i class="mail teal icon "></i> Saisissez votre E-mail</div>
          <div class="field">
            <p>Un E-mail de réinitialisaiton va vous être envoyé dans quelques minutes...</p>
            <input name="userEmail" type="text" placeholder="Email">
          </div>
          <div class="field">

          </div>
        </div>
        <div class="field">
          <div class="ui error message"></div>
        </div>

    </div>

    <div class="actions">
      <div class="ui black deny button " id="retourconnexion">
        Retour
      </div>
      <button id="rloading" type="submit" class="ui right labeled teal icon button">
        <i class="checkmark icon"></i>
        Envoyer!


      </button>

      </form>
    </div>

  </div>
<script>
$(document).ready(function(){
 
  $('#rloading').click(function(){
    $('#rform').addClass('loading')
  })
  $('#rform').keypress(function(e){
    if(e.which==13){
      if($('#rform').form('is valid')){
          $('#rform').addClass('loading')
        }
        else{
          $('#rform').removeClass('loading')
        }
    }
   
})
$('#rloading').click(function () {
 
  if($('#rform').form('is valid')){
      $('#rform').addClass('loading')
    }
    else{
      $('#rform').removeClass('loading')
    }
     
 
})
})
 
</script>