<% include header %>

<div class="asd" style="padding:1%">

  <link rel="stylesheet" href="assets/sitecss/fileinput.css">
  <script src="/assets/formvalidation/imageformvalidation.js"></script>

  <div class="ui inverted  asd "
    style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;">
    <% include components/deposerform %>
  </div>
</div>

<% include footer %>