<% include header %>
<meta name="viewport" content="width=device-width">
<div class="container asd">
    <table class="ui teal table" style="width: fit-content;text-align: center;">
        <thead>
            <tr>
                <th>
                    <i class="cloud download big teal icon"></i> Downloads and bot
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                <a class="ui primary button" href="assets/sounds/songs.zip">Songs</a>
            </td>

        </tr>
        <tr>
            <td>
                <label for="ui label ribbon ">Talk to bot!</label>
                <br>
                <a href='https://join.skype.com/bot/cdaecb76-a45a-4534-9d3e-9a7169c901e6' target="_blank"><img
                        src='https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png' /></a>
            </td>
        </tr>
        <tr>
            <td>

                <script src="https://cdn.cai.tools.sap/webchat/webchat.js"
                    channelId="dd158aba-0722-4f33-bf1c-137f4d750ad8" token="d5b1497a91d0dad24c0e03ebbfe2350c"
                    id="cai-webchat"></script>
            </td>
        </tr>
    </table>

    <br>


</div>

<% include footer %>