</div>
</body>
  <script src="assets/sitescripts/slideshow.js" ></script>
    <script >
     
        function imgError(image) {
           image.onerror = "";
           image.src = "assets/img/image.png";
           return image.src;
       }
   
     </script>
</html>