<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/sitecss/sitecss.css">
    <script src="assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="assets/semantic/semantic.min.js"></script>
    <script src="assets/sitescripts/sitescript.js"></script>
 
</head>
<body>
  <div class="ui basic modal">
   
   
   
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui image content">
            <div class="content">
              Connectez Vous...
            </div>
          </h2>
          <form action="/connexion" method="POST" class="ui large form">
            <div class="ui stacked secondary  segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" id="username" placeholder="E-mail ou nom d'utilisateur">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" id="password" placeholder="Mot de passe">
                </div>
              </div>
              <input type="submit" class="ui fluid large blue submit button" id="LogIn" value="Connexion"></input>
            </div>
      
         
      
          </form>
      
          <div class="ui message">
           S'Inscrire? <a href="/inscription">Inscription</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class="ui pointing inverted menu">
  <a href="/" class="item">
    Accueil
  </a>

  <div class="right menu">
    <div class="item">
      <div class="ui  icon input">
        <input type="text" placeholder="Rechercher...">
        <i class="search link icon"></i>
      </div>
      &nbsp
      <% if(auth==false){ %>
      <div  class="ui marginClass primary button" onclick="window.location.href='/inscription'" id="Inscription">Inscription</div> &nbsp
      <div class="ui marginClass button " id="Connexion">Connexion</div>
      <% }else if(auth==true){ %>
      <button onclick="window.location.href='/espacemembre'" class="ui marginClass primary button " id="EspaceMembre">Bonjour <%= user.Prenom %></button>&nbsp
      <div class="ui marginClass button " id="LogOut">Se Deconnecter</div>&nbsp
        <% } %>
      
    </div>
   
  </div>
</div>
<div class="ui segment">
  <p></p>
</div>
    <div class="ui main container">
        <% if(locals.flash && locals.flash.error){ %>
        <div class="ui negative message">
            <%= flash.error %>
        </div>
        
        <% } %>
        <% if(locals.flash && locals.flash.success){ %>
            <div class="ui success message">
                <%= flash.success %>
            </div>
            
            <% } %>
      