<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Troc'Jeux</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="<% ServerUrl %>/assets/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="<% ServerUrl %>/assets/sitecss/sitecss.css">


  <script src="<% ServerUrl %>/assets/jquery/jquery-3.3.1.min.js"></script>

  <script src="<% ServerUrl %>/assets/semantic/semantic.min.js"></script>
  <script src="<% ServerUrl %>/assets/sitescripts/sitescript.js"></script>
  <script src="<% ServerUrl %>/assets/sitescripts/fileinput.js"></script>
  <script src="<% ServerUrl %>/assets/sitescripts/fileinput.js"></script>
  <script src="<% ServerUrl %>/assets/formvalidation/rvalidation.js"></script>

</head>

<body style="margin-bottom:5%">
  
  <% include components/imagemodal %>

  <% include components/connectionModal %>
  <% include components/reinitialisemodal %>
  <% include components/flashmessagemodal %>
  <% include components/sidebar %>
 
  <div class="ui main container  ">
