<% include header %>
<div class="ui inverted  asd "
    style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;">
    <div>qsdqsd
        <img src="/nosrc"  onerror="this.src=imgError(this)" alt="fgefg" style="width:100px;height:100px;"></div>
    <h1 class="ui  black button">Troc'Jeux <img class="ui mini image centered" src="/assets/img/logo.png" alt=""></h1>

</div>

<% include footer %>