<% include header %>
<script src="assets/formValidation/formValidation.js"></script>
<!-- <form action="/" method="POST" class="ui form error">

<div class="field">
    <label for="NomUtilisateur">Nom d'utilisateur</label>
    <input name="NomUtilisateur" id="NomUtilisateur"></input>
</div>
<div class="field">
    <label for="Nom">Nom</label>
    <input name="Nom" id="Nom"></input>
</div>
<div class="field">
    <label for="Prenom">Prenom</label>
    <input name="Prenom" id="Prenom"></input>
</div>
<div class="field">
    <label for="Email">Email</label>
    <input name="Email" id="Email"></input>
</div>
<div class="field">
    <label for="MotDePasse">Mot de passe</label>
    <input name="MotDePasse" id="MotDePasse"></input>
</div>
<div class="field">
    <label for=" Adresse">Adresse</label>
    <input name="Adresse" id="Adresse"></input>
</div>
<div class="field">
    <label for="CodePostal">Code Postal</label>
    <input name="CodePostal" id="CodePostal"></input>
</div>
<div class="field">
    <label for="Ville">Ville</label>
    <input name="Ville" id="Ville"></input>
</div>
<div class="field">
    <label for="Pays">Pays</label>
    <input name="Pays" id="Pays"></input>
</div>


</form> -->

<form class="ui form" action="/" method="POST">
    <div class="two fields">
      <div class="field">
        <label for="NomUtilisateur">Nom d'utilisateur</label>
        <input name="NomUtilisateur" id="NomUtilisateur"></input>
      </div>
      <div class="field">
        <label for="Nom">Nom</label>
    <input name="Nom" id="Nom"></input>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="Prenom">Prenom</label>
    <input name="Prenom" id="Prenom"></input>
      </div>
      <div class="field">
        <label for="Email">Email</label>
    <input name="Email" id="Email"></input>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="MotDePasse">Mot de passe</label>
    <input name="MotDePasse" id="MotDePasse" type="password"></input>
      </div>
      <div class="field">
        <label for="MotDePasse">Verification mot de passe</label>
    <input name="VerificationMotDePasse" id="VerificationMotDePasse" type="password"></input>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for=" Adresse">Adresse</label>
    <input name="Adresse" id="Adresse"></input>
      </div>
      <div class="field">
        <label for="CodePostal">Code Postal</label>
        <input name="CodePostal" id="CodePostal"></input>
      </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label for="Ville">Ville</label>
            <label name="Ville" id="Ville"></label>
        </div>
   
      </div>
      
    <button type="submit" class="ui blue labeled submit icon button"><i class="icon edit"></i>Envoyer</button>
    <div class="ui error message"></div>
  </form>
<% include footer %>
