<% include header %>


<div class="ui  asd"   style="margin-bottom:10%;">
    <h1><i class=" big teal calendar alternate outline icon"> </i> Nos Annonces</h1>
    <table id="adtable"  class="ui teal table" style="max-width:945px;background-color:transparent" >
       <tbody>
        </tbody>
      </table>
      <br>
      <table>
        <tbody>
            <tr class="ui grid adcontainer" >
          
              </tr>
        </tbody>
      
      </table>
            
         
      




  

</div>

</div>


<% include footer %>

<script>

  function clickFunk(event) {
    $('.ui.basic.modal.ImageModal').modal('show')
    $('#ModalImage').attr('src', $(event).attr('src'))
  }

  function bigcards(entry) {
    $(entry).transition({
    animation: 'pulse',
    interval: 10000,
    duration:500,
    allowRepeats:false,
    useFailSafe:true
  })
 
  

  }



  $(document).ready(function () {

    ajaxads(1, 0, 20)
    function ajaxads(pagination, categorie, amount) {

      $.ajax({
        url: '/adapi',
        type: 'POST',
        dataType: 'json',
        data: { pagination: pagination, categorie: categorie, amount: amount },
        success: function (data) {


          data.forEach(element => {
            let finalstring=''
            element.Categories.forEach(cat=>{
             let str=` <a class="">${cat}</a>,`
             finalstring+=str
            })
            let link = '/?a=' + element._id
            let mainImageSrc = 'pregistered/' + element.User_Id + '/' + element._id + '/' + element.UserImages[0]
            let output = `<td class="centered" ><div style="height:500px;width:220px"><div style="height:420px;" class="ui  card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div>">
  <div class="image">
    <img src="${mainImageSrc}" style="height:200px;" class="ZoomImage" onclick="clickFunk(this)">
  </div>
  <div class="content">
    <div class="header" style="overflow-y:auto;height:60px;"> ${element.Titre}</div>
    <div class="description">
        <a href="">  ${element.NomUitilisateur}</a>
    </div>
    <div class="description">
      ${element.CodePostal},${element.Ville}
    </div>
    <div class="description">
      ${finalstring}
    </div>
  </div>
  <div class="ui two bottom attached buttons">
    <div class="ui button">
      <i class="user icon"></i>
      Profil
    </div>
    <div class="ui primary button">
      <i class="calendar alternate outline icon"></i>
      Détails
    </div>
  </div>
</div>

  
   </div></td>`
            $('.adcontainer').append(output)
          });

          console.log(data)
        },
        error: function (err) {

          console.log(err.responseJSON.message)

        }
      })
    }
    $('#refreshads').click(function () {

    })
  })

</script>