<% include header %>
<hi>Index</h1> 



<div class="ui  primary button" id="refreshads"><i class="check icon"></i>Refresh</div>

</div>


<% include footer %>

<script>
  $('#refreshads').click(function(){
    $.ajax({
      url: '/adapi',
      type: 'POST',
      dataType: 'json',
      data: { pagination: 1, categorie: 'Stratégie' ,amount:20},
      success: function (data) {
         
      console.log(data)
      },
      error: function (err) {

        console.log(err.responseJSON.message)
        
      }
  })
  })
</script>