<% include header %>
<div class="ui inverted  asd " style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s;">
        <h1>Troc'Jeux</h1>
</div>
 
<% include footer %>