<% include header %>

il
<div class="ui inverted  asd "
    style="border-radius: 0!important; border: 0; margin-left: 260px; -webkit-transition-duration: 0.1s; max-width:620px">
  
    <% if(locals.flash==undefined ||locals.flash.code!="SuccessCode"){ %>
        <% include components/iform %>
    <% } %>
</div>

<% include footer %>