<% include header %>

<div class="asd" style="padding-bottom:20em">
<h1><i class="ui teal key icon"></i> Réinitialisation de votre mot de passe... </h1>

<h3>Bonjour <%= userName %> </h3>
<% include components/sform %>
</div>

<% include footer %>

<script src="<% ServerUrl %>/assets/formValidation/secureformvalidation.js"></script>